<%= form_tag({:controller => :drops, :action => :upload}, :method => "post", :multipart => true) do |f| %>

  <div class="field">
    <%= notice %>
  </div>
    <div class="form-group">

    <%= label_tag "File name" %>
    <%= file_field_tag :file %>
   </div>
    <%= submit_tag "Upload" %>
<% end %>
